@charset "UTF-8";

@font-face {
    font-family:'destaque';
    src: url('font/ToonyLine_PERSONAL_USE_ONLY.otf') format('opentype');  /* opentype (otf) ; truetype (ttf)*/
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root{
    --cor1: #1821caea;
    --cor2: #f57819c7;
    --cor3: #F2F2F2;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor3));
    height: 100vh;
    width: 100vw;
}

header {
    /*background-image: linear-gradient(to top, var(--cor1), var(--cor2));*/
    color: white;
    padding: 20px;
}

header > h1 {
    font-family: 'destaque', Times, serif;
    font-size: 3em;
    color: lightgray;
    flex: 0 0 200px;  /*não vai crescer, não vai encolher, vai ficar fixo*/
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.336); /*sombra*/
    text-align: center;
    
    align-items: center; /*deixa os itens centralizado dentro da borda*/
}

header > nav {
    color: black ;

    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end; /*deixa grudado na esquerda*/
}

header > nav > a{
    background-color: black;
    font-family: 'destaque';
    font-size: 1em;
    color: white;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
}

main {
    background-color: #F2F2F2;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.521);
}
section#redes-sociais img{
    width: 30px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.400);
    box-sizing: border-box;
}

section#redes-sociais img:hover{
    border: 2px solid rgba(255, 255, 255, 0.623);
    box-shadow: 2px 2px 5px black;
    
}